h1{
    color: red;
    background-color: black;
    text-transform: uppercase;
}

h1{
    color: yellow !important;
    background-color: blue;
}

h1{
    color: purple;
    background-color: gray !important;
    text-transform: capitalize;
}

h1{
    background-color: blue;
}