*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-shadow,.drop-container{
    width: 40%;
    margin: auto;
    margin-top: 50px;
}

.div-shadow > img{
    width: 390px;
    height: 300px;
    box-shadow: 90px, 120px,700px,20px black;
    margin: 40px;
}
h1{
    text-shadow: 8px -10px 3px red;
    margin: 180px;
    padding: 20px;
}
body{
    border: 2px solid red;
}
img{
    width: 390px;
    height: 300px;
    filter: drop-shadow(15px 15px 20px blue);
}