/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* ===== Page ===== */
body {
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 60px;
}


/* ===== Main Container ===== */
.MainDiv {
  background: white;
  width: 450px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(20, 20, 20, 0.15);
  width: 100%;
  margin-bottom: 21px;

}


/* ===== Input Section ===== */
.input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-row input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.input-row button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background: #4cafef;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.input-row button:hover {
  opacity: 0.9;
}


/* ===== Todo Item ===== */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 12px;
  margin-bottom: 10px;

  background: #f8f9fa;
  border-radius: 8px;

  transition: all 0.3s ease;
}


/* ===== Completed Style ===== */
.completed {
  opacity: 0.45;
  text-decoration: line-through;
  pointer-events: none;
  cursor: not-allowed;
}


/* ===== Checkbox ===== */
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}


/* ===== Buttons inside todo ===== */
.todo-item button {
  margin-left: 6px;
  padding: 5px 8px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-item button:nth-child(3) {
  background: #ffc107;
}

.todo-item button:nth-child(4) {
  background: #dc3545;
  color: white;
}


/* ===== Select All button ===== */
.top-btn {
  margin-bottom: 15px;
  width: 100%;
  background: #333;
  color: white;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
h1{
  color: black;
  margin-bottom: 10px;

}
h4{
  color: black;
}
button{
    margin-right: 20px;
}