*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.mainContainer{
     margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px -2px 11px gray;
    height: 70px;
    padding: 0px 60px;
    margin-bottom: 0rem;
}
.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0px;
}
.containerTop{
    height: 60vh;
    padding-top: 100px;
    text-align: center;
    background: whitesmoke
}
.font{
    font-size: xxx-large;
    font-weight: 600;
}
.font span{
    color: orangered;
}
.font1{
    width: 650px;
    height: 77px;
    font-size: larger;
    font-weight: 500;
    margin-bottom: 50px;
}
.conatinerTop-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btnGetInTouch{
    padding: 5px 50px;
    border-radius: 8px;
    color: white;
    background-color: orangered;
}
.images img{
    height: 80px;
}
.box{
    display: flex;
    margin: 0px 30px;
    justify-content: center;
    gap: 79px;
    padding: 5% 0%;
}
.aboutMe{
    width: 30%;
}
.aboutMe h2{
    border-bottom: 2px solid orangered;
    padding: 0px 0px 7px 0px;
}
.images{
    position: relative;
    /* border: 1px solid black; */
    height: inherit;
    width:36%;
}
.html,.css,.javascript,.react,.vue{
    position: absolute;
}
.css{
    right: 0px;
    top: 20px;
}
.javascript{
    bottom: 0px;
    right: 0px;
}
.vue{
    bottom: 20px;
    left: 30px;
}
.react{
    top: 37%;
    right: 45%;
}
.conatainerComapanyWorked{
    background-color: whitesmoke;
    padding: 50px 0px ;
}
.conatainerComapanyWorked h3{
    text-align: center;
}
.websitesImages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}
.conatainerComapanyWorked img{
   /* height: 9%; */
    width: 12%;
}
.recentWorks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 30px;
    width: 100%;
    gap: 55px;
}
.card{
    width: 25%;
    border: none;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.card p{
    margin-bottom: 4px;
}
.recentText{
    padding: 10px 151px;
    margin: 20px 0px;
}
.btn-container{
    text-align: center;
}
.SeeMoreBtn {
    color: orangered;
    padding: 16px 47px;
    border-radius: 10px;
    background: white;
    border: 2px solid orangered;
    margin: 50px 0px;
    font-weight: 700;
    font-size: larger;
}

.form{
    margin: 0px 60px;
    padding: 10px 30px;
    /* border: 1px solid black; */
    width: auto;
}
.form p{
    font-weight: 700;
    font-size: larger;
    border-bottom: 2px solid orangered;
    
}
.form input[type="text"],input[type="Email"]{
    background-color: whitesmoke;
    padding: 8px;
    border: none;
    width: 49%;
    margin:5px ;
}
.form .Message{
   background-color: whitesmoke;
    padding: 5px;
    border: none;
    width: 100%;
    height: 20vh;
}
.form .btton{
    color: orangered;
    padding: 5px 30px;
    border-radius: 10px;
    background: orangered;
    border: 2px solid orangered;
    margin: 20px 0px;
    font-weight: 700;
    font-size: larger;
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    background-color: rgb(9, 21, 39);
    color: white;
    height: 10vh;
    padding: 0px 50px;
    
}