/* :root {
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --primary-light: #dbeafe;

  --secondary: #0f172a;

  --bg-white: #ffffff;
  --bg-light: #f8fafc;
  --bg-dark: #020617;

  --text-primary: #0f172a;
  --text-secondary: #64748b;
  --text-light: #94a3b8;

  --border-color: #e2e8f0;

  --success: #22c55e;
  --warning: #f59e0b;
  --danger: #ef4444;

  --shadow-sm: 0 4px 12px rgba(0,0,0,.05);
  --shadow-md: 0 12px 30px rgba(0,0,0,.08);
  --shadow-lg: 0 20px 50px rgba(0,0,0,.12);
} */